.headerWrapper {
  display: flex;
  margin-bottom: 100px;
}

.profileWrapper {
  position: relative;
}

.profilePicture {
  border-radius: 50%;
  overflow: hidden;
  transition: 0.2s;
  width: 150px;
}

.profilePicture:hover {
  transform: scale(1.05);
}

.profileContent {
  margin: 10px 0 0 50px;
}

.profileContent a {
  text-decoration: none;
}

.profileContent a:hover {
  color: #3997dc;
}

.profileContent h1 {
  color: #1f2933;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 0;
}

.profileContent h1:hover {
  color: #3997dc;
}

.profileContent h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px;
}

@media only screen and (max-width: 768px) {
  .headerWrapper {
    display: block;
  }

  .profileWrapper {
    display: block;
    width: 100%;
  }

  .profileContent {
    display: block;
    margin: 25px 0 0;
    width: 100%;
  }
}
