.list {
  margin: 15px 0 0;
  padding: 0;
}

.item {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
  vertical-align: middle;
}

.link {
  color: #787a82;
  text-decoration: none;
}

.link:hover {
  color: #3997dc;
}

.blogLink {
  border: 2px solid #dfdfe0;
  border-radius: 4px;
  color: #787a82;
  display: block;
  font-weight: 700;
  margin-top: -5px;
  padding: 3px 10px;
  text-decoration: none;
}

.blogLink:hover {
  color: #3997dc;
}
